@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBMPlexSans-Light'),
        url('../assets/fonts/IBMPlexSans-Light.ttf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBMPlexSans-Regular'),
        url('../assets/fonts/IBMPlexSans-Regular.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBMPlexSans-Bold'),
        url('../assets/fonts/IBMPlexSans-Bold.ttf') format('opentype');
    font-weight: 700;
    font-style: normal;
}