* {
  font-family: 'IBM Plex Sans', sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.section-profile-title {
  width: 60%;
}

.section-title {
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  line-height: 18px;
}

.main-title {
  margin: 0 auto;
  font-size: 6rem;
  line-height: 80px;
}

.section-left {
  width: 65%;
  padding: 10px 20px 0;
}

.section-right {
  padding: 10px 0 0 30px;
}

.section-profile {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 40px 20px 0;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 15px 40px 0;
}

.nav-link {
  padding: 0 10px;
  line-height: 50px;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  color: #222222;
  background: linear-gradient(to right, #64c8c8, #64c8c8), linear-gradient(to right, red, #ff00b4, #0064c8);
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.nav-link:hover {
  background-size: 0 3px, 100% 3px;
}

.section-profile-picture {
  width: 250px;
  height: 250px;
  border-radius: 50px;
}

.section-subtitle {
  margin: 15px 0 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  background: linear-gradient(135deg, #FF26B2 0%, #851BD9 64.06%, #3F0FFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.section-description {
  margin: 10px 0 0;
  font-size: 20px;
  font-weight: 400;
}

.section-location {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.section-location img {
  width: 24px;
  height: 24px;
}

.section-location span {
  margin-left: 7px;
  font-size: 16px;
  font-weight: 400;
}

.links-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  width: 80%;
  list-style: none;
  margin-top: 20px;
  padding: 0;
}

.links-icon {
  width: 24px;
  height: 24px;
}

.links-item {
  display: flex;
  align-items: center;
  padding: 0 0 5px;
}

.links-item:nth-last-child(-n+3) {
  text-decoration: underline;
}

.links-link {
  padding: 0 7px 0;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #222222;
}

.summary-description {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
  line-height: 22px;
}

.skill-wrapper {
  width: 300px;
  margin: 10px auto;
}

.skill {
  margin-bottom: 20px;
  position: relative;
  overflow-x: hidden;
}

.skill p {
  font-size: 16px;
  font-weight: 400;
  color: #1a1716;
  margin: 0;
}

.skill:before {
  width: 100%;
  height: 7px;
  content: "";
  display: block;
  position: absolute;
  background: #959595;
  bottom: 0;
}

.skill-bar {
  width: 100%;
  height: 7px;
  background: linear-gradient(135deg, #FF26B2 0%, #851BD9 64.06%, #3F0FFF 100%);
  display: block;
  position: relative;
}

.skill-bar span {
  position: absolute;
  border-top: 7px solid #f4392f;
  top: -30px;
  padding: 0;
  font-size: 18px;
  padding: 3px 0;
  font-weight: 400;
}

.skill-level1 {
  width: 70%;
}

.skill-level2 {
  width: 40%;
}

.skill-level3 {
  width: 80%;
}

.skill-count {
  right: 0;
}
/*# sourceMappingURL=style.css.map */