.github-link {
    display: flex;
    align-items: center;
    a {
        color: $link-color;
    }
    span {
        margin-left: 10px;
    }
}

.github-icon {
    width: 32px;
    height: 32px;
}

.footer-logo {
    width: 150px;
}

.footer-links-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin: 0;
    padding: 15px 0;
    list-style: none;
}