.section-left {
    padding: 10px 20px;
    &:last-child {
        padding-bottom: 0;
    }
}

.section-right {
    padding: 10px 0 0 30px;
}

.section-profile {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 40px 20px 0;
}