.skill-wrapper {
    width: 300px;
    margin: 10px auto;
}

.skill {
    margin-bottom: 20px;
    position: relative;
    overflow-x: hidden;
    p {
        font-size: 16px;
        font-weight: 400;
        color: #1a1716;
        margin: 0;
    }
    &:before {
        width: 100%;
        height: 7px;
        content: "";
        display: block;
        position: absolute;
        background: #959595;
        bottom: 0;
    }
}

.skill-bar {
    width: 100%;
    height: 7px;
    background:
        linear-gradient(
            135deg, 
            #FF26B2 0%, 
            #851BD9 64.06%, 
            #3F0FFF 100%
        );
    display: block;
    position: relative;
    span {
        position: absolute;
        border-top: 7px solid #f4392f;
        top: -30px;
        padding: 0;
        font-size: 18px;
        padding: 3px 0;
        font-weight: 400;
    }
}

.skill-level1 {
    width: 70%;
}

.skill-level2 {
    width: 40%;
}

.skill-level3 {
    width: 80%;
}

.skill-count {
    right: 0;
}