.section-profile-title {
    width: 60%;
}

.section-title {
    margin: 0 auto;
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
}

.main-title {
    margin: 0 auto;
    font-size: 6rem;
    line-height: 80px;
}