* {
    font-family: 'IBM Plex Sans', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 650px 300px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

@import 'variables'; //Variables for Fast Use
@import 'titles'; //All styles for Titles
@import 'section'; //All styles for Sections
@import 'navigation'; //All styles for Navigation Bar
@import 'profile'; //All style for Profile
@import 'summary'; //All styles for Summary
@import 'skills'; //All styles for Skills
@import 'experience'; //All srtyles for Experience