* {
    font-family: 'IBM Plex Sans', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 750px;
    margin: 0 auto;
}

@import 'variables';
@import 'navigation';